<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894615157997-0asg07thse2s7vpb6b2vii600pg71aeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894615157997-0asg07thse2s7vpb6b2vii600pg71aeq</string>
	<key>API_KEY</key>
	<string>AIzaSyD_qQCIi2C_OSCQRT0aJNhtdnYLOuInGn0</string>
	<key>GCM_SENDER_ID</key>
	<string>894615157997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kafilmobile</string>
	<key>PROJECT_ID</key>
	<string>kafiil-12b6c</string>
	<key>STORAGE_BUCKET</key>
	<string>kafiil-12b6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894615157997:ios:666f9761acc88e09b5a0e4</string>
	<key>DATABASE_URL</key>
	<string>https://kafiil-12b6c-default-rtdb.firebaseio.com</string>
</dict>
</plist>